.card {
    margin: 6px;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    background: goldenrod;
    float: left;
}

.card:hover{
    background: red;
}

.img-size {
    height: 140px;
    width: 140px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block
}