.card {
    margin: 6px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    background: #e2bf0b;
    float: left;
}

.card:hover{
    background: #8A2BE2;
}

.img-size {
    height: 180px;
    width: 180px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
    background: #dbb676
}

body {
    background-image: url("https://ih1.redbubble.net/image.174347936.7633/flat,1000x1000,075,f.u5.jpg")
}